
name: Pull Request Validation

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-java@v5
      with:
        java-version: 17
        distribution: temurin
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5
    - name: Build and test
      run: ./gradlew --build-cache --parallel build check dokkaGenerateHtml
